<div class="amg-social">
	<ul class="amg-social-icons">
		<li>
			<a href="https://www.facebook.com/aidan.garza" target="_blank">
				<img src="{{ theme_url }}/images/fb.png" alt="facebook">
			</a>
		</li>
		<li>
			<a href="https://twitter.com/AMGbuilder" target="_blank">
				<img src="{{ theme_url }}/images/tw.png" alt="twitter">
			</a>
		</li>
		<li>
			<a href="https://plus.google.com/u/0/103941178769857970736" target="_blank">
				<img src="{{ theme_url }}/images/go.png" alt="google plus">
			</a>
		</li>
		<li>
			<a href="http://linkedin.com/in/aidangarza" target="_blank">
				<img src="{{ theme_url }}/images/li.png" alt="linkedin">
			</a>
		</li>
		<li>
			<a href="http://codepen.io/aidangarza/" target="_blank">
				<img src="{{ theme_url }}/images/cp.png" alt="codepen">
			</a>
		</li>
	</ul>
</div>