<!-- Fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />

<!-- CSS -->
<link rel="stylesheet" href="{{ theme_url }}/vendors/bootstrap/css/bootstrap.min.css" tpye="text/css" />
<link rel="stylesheet" href="{{ theme_url }}/vendors/gilbitron/lean-slider.css" type="text/css" />
<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />

<!-- Favicons -->
<link rel="shortcut icon" href="{{ theme_url }}/images/favicon.png">
<link rel="apple-touch-icon" href="{{ theme_url }}/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ theme_url }}/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ theme_url }}/images/apple-touch-icon-114x114.png">

<!--Google Analytics-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-47480153-1', 'aidangarza.com');
ga('send', 'pageview');
</script>

<!-- Top Scripts -->
<script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
<script src="{{ theme_url }}/vendors/jquery-ui/external/jquery/jquery.js"></script>
<script src="{{ theme_url }}/vendors/bootstrap/js/bootstrap.min.js"></script>