<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	
	<!-- Meta
	================================================== -->
	{% include "meta.html" %}
	<!-- End Meta -->

	<!-- Top Links
	================================================== -->
	{% include "toplinks.html" %}
	<!-- End Top Links -->

</head>
<body>
	
	<!-- Header
	================================================== -->
	{% include "header.html" %}
	<!-- End Header -->
	
	<!-- Content
	================================================== -->
	<section class="container-fluid amg-content js-toggle">
		
		{{ content }}

	</section>
	<!-- End Content -->
	
	<!-- Footer
	================================================== -->
	{% include "footer.html" %}
	<!-- End Footer -->

	<!-- Bottom Links
	================================================== -->
	{% include "bottomlinks.html" %}
	<!-- End Bottom Links -->
    
</body>
</html>